* {
  margin: 0px;
  padding: 0px;
}
body {
  font-family: "Varela Round";
  background-color: #4527a0;
}

.App {
  width: 30%;
  border: 1px solid black;
  margin: 70px auto;
  padding: 15px 20px;
  text-align: center;
  border-radius: 30px;
  box-shadow: 1px 1px 15px 2px black;
  background-color: white;
}

.Avatar img {
  margin: 8px auto;
  height: 160px;
  width: 160px;
}

.connectWith {
  text-align: center;
  text-decoration: underline;
}
.connectWith a i {
  font-size: 1.3em;
  margin: 15px 9px;
  cursor: pointer;
  /* color: #283593; */
}
.para {
  margin: 25px 0px;
  text-align: justify;
  line-height: 1.6em;
}
.toggleBtn {
  border: none;
  background-color: white;
  color: #283593;

  text-decoration: underline;
  font-weight: 600;
  font-size: 1em;
  cursor: pointer;
}
